@model PizzaViewModel
@{
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <img src="~/images/Create.png" class="img-fluid mb-4 w-100" />
        </div>
        <div class="col-md-6 text-center">
            <h3 class="mb-3">Create your own Pizza</h3>
            <p class="lead mb-4">Make your own Pizza with our PizzaMaker!</p>
            <a class="btn btn-primary" asp-area="" asp-controller="PizzaModel" asp-action="CustomPizza">Try Now</a>
        </div>
    </div>
</div>
