@model CustomPizzaViewModel
@{
    ViewData["Title"] = "Add pizza";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Add Pizza</h2>
                </div>
                <div class="card-body">
                    <form asp-action="AddCustomPizza">
                        <div class="mb-3">
                            <label asp-for="PizzaName" class="form-label">Pizza Name:</label>
                            <input asp-for="PizzaName" class="form-control" required placeholder="Enter a pizza name...">
                            <span asp-validation-for="PizzaName" class="text-danger"></span>
                        </div>

                        <input asp-for="BasePrice" type="hidden" />

                        <div class="mb-3">
                            <label asp-for="TomatoSauce" class="form-label">Tomato Sauce</label>
                            <input asp-for="TomatoSauce" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="TomatoSauce" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cheese" class="form-label">Cheese</label>
                            <input asp-for="Cheese" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Cheese" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Peperoni" class="form-label">Pepperoni</label>
                            <input asp-for="Peperoni" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Peperoni" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Mushroom" class="form-label">Mushroom</label>
                            <input asp-for="Mushroom" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Mushroom" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Tuna" class="form-label">Tuna</label>
                            <input asp-for="Tuna" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Tuna" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Pineapple" class="form-label">Pineapple</label>
                            <input asp-for="Pineapple" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Pineapple" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Ham" class="form-label">Ham</label>
                            <input asp-for="Ham" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Ham" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Beef" class="form-label">Beef</label>
                            <input asp-for="Beef" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="Beef" class="text-danger"></span>
                        </div>

                        <input asp-for="FinalPrice" type="hidden" />

                        <input asp-for="Price" type="hidden" />

                        <div class="mb-3">
                            <label asp-for="OrderId" class="form-label">Address:</label>
                            <select asp-for="OrderId" class="form-control" asp-items="ViewBag.Orders"></select>
                        </div>

                        <div class="mb-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input type="submit" value="Add" class="btn btn-outline-success">
                                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>