@model CustomerViewModel 
@{
    ViewData["Title"] = "Add a customer";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Add Customer</h2>
                </div>
                <div class="card-body">
                    <form asp-action="AddCustomer">
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">First name:</label>
                            <input asp-for="FirstName" class="form-control" pattern="[A-Za-z]+" required placeholder="Enter your first name...">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Last name:</label>
                            <input asp-for="LastName" class="form-control" pattern="[A-Za-z]+" required placeholder="Enter your last name...">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Address" class="form-label">Address:</label>
                            <input asp-for="Address" class="form-control" required placeholder="Enter an address...">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">Phone number:</label>
                            <input asp-for="PhoneNumber" class="form-control" pattern="^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$" required placeholder="Enter a phone number...">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email:</label>
                            <input asp-for="Email" class="form-control" required placeholder="Enter an email address...">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input type="submit" value="Add" class="btn btn-outline-success">
                                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
